@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --color-primary-1: hsl(300, 43%, 22%);
  --color-primary-2: hsl(333, 80%, 67%);
  --color-neutral-1: hsl(303, 10%, 53%);
  --color-neutral-2: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spartan";
  box-sizing: border-box;
}

html {
  font-size: 67.5%; /*1rem = 10px*/
}

body {
  background-image: url(img/bg-pattern-top-desktop.svg), url(img/bg-pattern-bottom-desktop.svg);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: top -600px left -200px, bottom -150px right -200px;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

.layout__top {
  max-width: 100%;
  min-height: 40%;
  display: flex;
  justify-content: space-between;
  padding: 12rem 16rem 12rem 16rem;
}

.text {
  max-width: 47%;
  color: var(--color-primary-1);
}

.text h1 {
  font-size: 6rem;
  margin-bottom: 3rem;
}

.text p {
  font-size: 2rem;
  line-height: 1.6;
}

.ratings {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.rating__rating {
  max-width: 65%;
  border-radius: 10px;
  background-color: var(--color-neutral-2);
  padding: 2rem 3rem 2rem 2rem;
  margin-bottom: 2rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
}

.rating__rating:nth-child(2) {
  transform: translateX(4rem);
}

.rating__rating:nth-child(3) {
  transform: translateX(8rem);
}

.rating__rating span {
  color: var(--color-primary-1);
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.rating__rating img:not(:last-of-type) {
  margin-right: 0.5rem;
}

.layout__bottom {
  max-width: 100%;
  font-size: 1.5rem;
  display: flex;
  padding: 0 16rem;
}

.review__card {
  background-color: var(--color-primary-1);
  border-radius: 10px;
  color: var(--color-white);
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}

.review__card:not(:last-of-type) {
  margin-right: 4rem;
}

.review__card:nth-child(2) {
  transform: translateY(2rem);
}

.review__card:nth-child(3) {
  transform: translateY(4rem);
}

.review__card-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  justify-content: left;
}

.review__card-img {
  display: inline-block;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.review__card-author {
  display: flex;
  flex-direction: column;
}

.review__card-author div {
  font-weight: 700;
}

.review__card-author div:last-child {
  color: var(--color-primary-2);
  font-weight: 400;
  margin-top: 0.5rem;
}

.review__card-text {
  line-height: 1.4;
  width: 100%;
}

/*Screens under 1000px width*/

@media screen and (max-width: 100rem) {
  body {
    background-image: url(img/bg-pattern-top-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -900px left -760px;
  }

  .container {
    width: 100vw;
    min-height: 100vh;
  }

  .layout__top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
  }

  .text {
    max-width: 100%;
  }

  .text h1 {
    padding: 4rem 2rem 0 2rem;
    font-size: 3rem;
    text-align: center;
  }

  .text p {
    padding: 0 2rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .ratings {
    width: 100%;
  }

  .rating__rating {
    max-width: 100%;
    border-radius: 10px;
    background-color: var(--color-neutral-2);
    padding: 2rem 3rem 2rem 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rating__rating .stars {
    margin-bottom: 1rem;
  }

  .rating__rating:nth-child(2) {
    transform: translateX(0);
  }

  .rating__rating:nth-child(3) {
    transform: translateX(0);
  }

  .layout__bottom {
    max-width: 80%;
    margin: 0 4rem;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .review__card {
    width: 100%;
    margin-bottom: 5rem;
    padding: 3rem 2rem;
  }
  .review__card .review__card-text {
    line-height: 1.4;
  }
  .review__card:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .review__card:nth-child(2) {
    transform: translateY(0);
  }

  .review__card:nth-child(3) {
    transform: translateY(0);
  }

  .review__card-text{
    font-size: 1.3rem;
    font-weight: 400;
  }
}
